@page
@model AboutModel
@{
    ViewData["Title"] = "Caching DON'Ts";
}
<h1>@ViewData["Title"]</h1>

<br />
<br />
<h3>Do it yourself...</h3>
<br />
<br />
<h3>Cache data requiring user permissions on the client side.</h3>
<br />
<br />
<h3>Use your cache as a NoSQL database!</h3>
<br />
<br />
<a class="btn" href="/About2">Back</a>&nbsp;<a class="btn" href="/DotNet">Next</a>