@page
@model AboutModel
@{
    ViewData["Title"] = "What are the Benefits?";
}
<h1>@ViewData["Title"]</h1>

<br />
<br />
<h3>Decreased network cost: Less work for the data base</h3>
<br />
<br />
<h3>Improved responsiveness: depending on where our cache is, requests can be nearly instant.</h3>
<br />
<br />
<h3>Better performance for the same amount of hardware.</h3>
<br />
<br />
<h3>Content availabilty during network outages.</h3>
<br />
<br />
<a class="btn" href="/About1">Back</a>&nbsp;<a class="btn" href="/About3">Next</a>
