@page
@model AboutModel
@{
    ViewData["Title"] = "Caching";
}
<h1>@ViewData["Title"]</h1>


<br />
<br />
<h3>Caching is an effective way to improve application preformance. </h3>
<br />
<br />
<h3>Caching is utilized at every level of computer science, from CPU management to web development</h3>
<br />
<br />
<h3>Today we will focus on some of the different ways we can improve the performance of our web applications with caching.</h3>
<br />
<br />
<a class="btn" href="/About1">Next</a>

