@page
@model Caching.Pages.DotNet1Model
@{
    ViewData["Title"] = "InMemory Caching in DotNet";
}
<h1>@ViewData["Title"]</h1>

<br />
<br />
<h3>Simplest to use, well supported.</h3>
<br />
<br />
<h3>Best solution for simple architecture.</h3>
<br />
<br />
<h3>Can scale if you use sticky sessions.</h3>
<br />
<br />
<a class="btn" href="/DotNet">Back</a>&nbsp;<a class="btn" href="/DotNet2">Next</a>
