@page
@model Caching.Pages.DotNetModel
@{
    ViewData["Title"] = "Caching in DotNet";
}
<h1>@ViewData["Title"]</h1>

<br />
<br />
<h3>Response Caching</h3>
<br />
<br />
<h3>InMemory Caching</h3>
<br />
<br />
<h3>Distributed Caching</h3>
<br />
<br />
<a class="btn" href="/About3">Back</a>&nbsp;<a class="btn" href="/DotNet1">Next</a>

