@page
@model Caching.Pages.DotNet2Model
@{
    ViewData["Title"] = "Distributed Caching in DotNet";
}
<h1>@ViewData["Title"]</h1>

<br />
<br />
<h3>Cache shared by multiple webservers and generally hosted on a seperate webserver itself.</h3>
<br />
<br />
<h3>Scales the best as architecture grows more complex.</h3>
<br />
<br />
<h3>Generally third party: Redis or MemCache.</h3>
<br />
<br />
<a class="btn" href="/DotNet1">Back</a>&nbsp;<a class="btn" href="/Index">Finish</a>

