@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Caching</h1>

<br />
<br />
<a href="/About">Caching</a>
<br />
<br />
<a href="/MemDrugs">InMemory Example</a>
<br />
<br />
<a href="/DistDrugs">Redis Distributed Example</a>